@import '../../../styles/rem-calc.scss';

:host {
  form {
    .card {
      height: rem-calc(150);
      padding: rem-calc(40);
      border-radius: rem-calc(10);
      margin-bottom: rem-calc(10);
    }

    .namePoke {
      font-weight: bold;
      font-style: italic;
      font-size: rem-calc(25);
      margin-top: rem-calc(60);
    }

    .pokemon__image {
      position: absolute;
      right: rem-calc(65);
      bottom: rem-calc(60);
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem-calc(75);
      height: rem-calc(75);
      transition: transform 1s;
      transform: translateX(0) scale(1);
    }
    .pokemon__image:hover {
      transform: translateX(10px) scale(1.2);
    }

    .pokemon__image__2 {
      position: absolute;
      right: rem-calc(10);
      bottom: rem-calc(110);
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem-calc(32);
      height: rem-calc(32);
    }
  }
}
