<form action="">
  <div class="container">
    <div class="row justify-content-evenly">
      <div class="col-sm-5 card">
        <a class="text-decoration-none text-dark" href=""
          ><h2 class="col-sm-12 namePoke">Bulbasaro</h2></a
        >
        <div class="row"></div>
        <small class="col-sm-3 mt-3 badge rounded-pill bg-light text-dark">Poison</small>
        <small class="col-sm-3 mt-3 badge rounded-pill bg-light text-dark">Grass</small>
        <a href=""
          ><img src="../../../assets/Test.png" alt="Bulbasaro" class="mt-3 pokemon__image"
        /></a>
      </div>
      <div class="col-sm-5 card">
        <a class="text-decoration-none text-dark" href=""
          ><h2 class="col-sm-12 namePoke">Bulbasaro</h2></a
        >
        <div class="row"></div>
        <small class="col-sm-3 mt-3 badge rounded-pill bg-light text-dark">Poison</small>
        <small class="col-sm-3 mt-3 badge rounded-pill bg-light text-dark">Grass</small>
        <a href=""
          ><img src="../../../assets/Test.png" alt="Bulbasaro" class="mt-3 pokemon__image"
        /></a>
      </div>
    </div>
  </div>
</form>
